<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherData</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <nav>
            <div class="logo">
                <p class="text">Weather<span>Records</span></p>
            </div>
        </nav>
    </header>
    <div class="hero">
        <h1>Easy Access To Global Weather Data</h1>
        <h3>Current weather and weather history made easy</h3>
    </div>
    <div class="search_cont">
        <form action="" class="form">
            <i class="fa fa-search"></i>
            <input type="search" class="input" placeholder="Enter a city">
            <button>Search</button>
        </form>
    </div>
    <article>
        <div class="weather_cont">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            <div class="weather_info">
                <h1>LAGOS</h1>
                <p>30<sup>o</sup> C</p>
                <p class="comment">Hot blazing sun</p>
            </div>
        </div>
    </article>
</body>
</html>